html,body {
  width:100%;
  height:100%;
  overflow:hidden;
  background:#000;
  font-family:Jolly Lodger;
}
* {
  margin:0;
  padding:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  position:absolute;
  left:0px;
  top:35px;
  right:0px;
  bottom:0px;
}
header {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:35px;
  background:#666;
  overflow:hidden;
  background-color:#030303;
  background-image: -moz-linear-gradient(top , #030303, #999999 0px,#000000 45px);
  background-image: -webkit-linear-gradient(top , #030303, #999999 0px,#000000 45px);
  background-image: -o-linear-gradient(top , #030303, #999999 0px,#000000 45px);
  background-image: -ms-linear-gradient(top , #030303, #999999 0px,#000000 45px);
  background-image: linear-gradient(top , #030303, #999999 0px,#000000 45px)
}

header h1 {
  position:absolute;
  top:12px;
  left:10px;
  line-height:10px;
  color: #ffffff;
  font-weight:bold;
  font-size: 23px;
  letter-spacing:2px;
  text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.4),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  writing-mode: lr-tb;
}

header #tools {
  display:block;
  height:100%;
  position:absolute;
  top:0px;
  right:30px;
  bottom:0px;
}

header #tools a,
header #tools div {
  display:inline-block;
  text-decoration:none;
  color:#000;
  overflow:hidden;
  margin-top:8px;
}

header #tools .color{
  border:1px black solid;
  height:15px;
  width:15px;
  text-indent:-9999px;
  margin-right:10px;
  border-radius:3px;
  -moz-box-shadow: inset -1px -1px 1px #888;
  -webkit-box-shadow: inset -1px -1px 1px #333;
  box-shadow: inset -1px -1px 5px #000;
}

header #tools select {
  opacity:0.3;
  position:absolute;
  left:-90px;
  top:7px;
}

header #tools input {
  opacity:0.4;
  height:14px;
  margin-right:5px;
  width:80px;
}

header #tools #alpharange {
  width:50px;
}

header #tools #save {
  line-height:18px;
  font-size:25px;
  text-shadow:0px 0px 0 rgb(202,202,202),1px 1px 0 rgb(158,158,158), 2px 2px 0 rgb(115,115,115),3px 3px 2px rgba(0,0,0,0.4),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  writing-mode: lr-tb;
  position:absolute;
  right:-35px;
  margin-right:10px;
}

header #tools a.activetool,
header #tools a.activecolor {
  -moz-box-shadow: inset -5px -5px 5px #888;
  -webkit-box-shadow: inset -5px -5px 5px #888;
  box-shadow: inset 1px 1px 5px #000;
}

header nav a:hover {
  opacity:1.0;
}
